body {
    background-color: #007AFF !important;     
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 41px;
}

.question-footer {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.endscreen-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 500px;
    margin: 10px;
}

.endscreen-middle button{
    padding-top: 10px;
}

.card-body {
    padding-top: 3px;
}
.card-body-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 25rem !important;
}

.answers a {
    text-decoration: none;
    color: black !important;
}

.display-answer-color {
    background-color: rgb(20, 205, 20) !important;
}

.answers:hover {
    background-color: rgba(78, 84, 84, 0.44);
    transition: 225ms ease-in-out;
    
}

.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    cursor: pointer;
}

.endPic {
    width: 50vh;
    border-radius: 100%;
}
    
    